<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.iproov.identity.example</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.iproov.identity.example</string>
				<string>eudi-openid4vp</string>
				<string>haip-vc</string>
				<string>haip-vci</string>
				<string>haip-vp</string>
				<string>openid-credential-offer</string>
				<string>openid4vp</string>
				<string>mdoc</string>
			</array>
		</dict>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is required to communicate with nearby devices for identity verification.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is required to communicate with nearby devices for identity verification.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A00000045645444C2D3031</string>
		<string>D2760000850101</string>
	</array>
</dict>
</plist>
